@model IEnumerable<SoftwareProjectV2.Models.AddDetail>

@{
    ViewData["Title"] = "Index";
}

<h4>Employees:</h4>

<p>
    <a asp-action="Create">Add new employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeStartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeStartDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
