@model IEnumerable<SoftwareProjectV2.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h5>
    <a asp-action="Create">Add new device to inventory</a>
</h5>
<hr/>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvDeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvDeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvSerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyExpiration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvDeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvDeviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvSerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyExpiration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
