@model IEnumerable<SoftwareProjectV2.Models.AddEquipment>

@{
    ViewData["Title"] = "Add device";
}

<h5>
    <a asp-action="Create">Assign a device to employee</a>
</h5>
<hr />
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
